<header>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "23andMe", root_path %>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Reports", root_path %></li>
          <li><%= link_to "How it works", root_path %></li>
          <li><%= link_to "Stories", root_path %></li>
          <li><%= link_to "Research", root_path %></li>
          <li><%= link_to "Buy", root_path %></li>
          <li><%= link_to "Sign in with 23andMe", twenty_three_and_me_login_path %></li>
          <li><%= link_to "Register kit", new_user_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
