<!DOCTYPE html>
<html>
<head>
  <title>ApiCurious</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
  <%= render partial: "partials/header" %>
  <%= yield %>

</body>
</html>

# path to receive code /receive_code
could set the request in controller, link in view could go to own controller
receive code would trigger request token
